.container{
    padding: 10px;
}

.section_options{
    display: flex;

    background-color: var(--color-primary-private);
    margin-top: 10px;
    padding-top: 15px;
    height: 60px;
    justify-content: space-between;
    
}
.button_container {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-around;
    align-items: center;
    margin-right: 15px;
  }
  .input_container{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
  }
  

.section_table{
    background-color: var(--color-primary-private);
    margin-top: 15px;
    border-radius: 10px;


}
.table{
    display: table;
        border-collapse: collapse;
        border-spacing: 2px;
        border-color: var(--color-text);
        width: 100%;
}
.table_container {
    border: 1px solid var(--color-text);
    border-radius: 10px;
    margin-top: 5px;
    padding: 5px;
    overflow-x: auto;

}

.table_img:hover {

cursor: pointer;

    
}
.last_column{
    width: 10px;
    text-align: justify;
}
.thead {
    height: 25px;
    text-align:left;
}


.table tr {
    border-bottom: 1px solid var(--color-text);

}

.table td {
    height: 30px;
}

.table td:last-child {
    width: 10px;
}
@media (max-width: 800px) {
    .section_options{
        height: 120px;
        display: block;
        
    }

}