body {
    margin: 0;
    font-size: 17px;
}
:root{
   --color-primary-private:rgb(32,40,55);
   --color-secondary-private:rgb(16, 24, 36);
   --color-gren-1-private:rgb(16,186,127);
   --color-btn-primary:rgb(16,186,127);
   --color-btn-secondary:rgb(3,121,88);
   --color-btn-danger:rgb(56,65,82);
    --color-secondary-slate1:#bec6cf;
    --color-text:rgb(199,213,222);
}

.light_mode{
    --color-primary-private: #bac5c7;
    --color-secondary-private: #F0F5F9;
    --color-gren-1-private: rgb(0, 64, 127); /* Cor ajustada */
    --color-btn-secondary: #84a1c1; /* Cor ajustada */
    --color-btn-primary: #4472a0; /* Mantida igual */
    --color-btn-danger: #d8dce0; /* Mantida igual */
    --color-secondary-slate1: #bec6cf; /* Mantida igual */
    --color-text: #384655;
}
