body {
    margin: 0;
    font-size: 17px;
}
:root{
   --color-primary-private:rgb(32,40,55);
   --color-secondary-private:rgb(16, 24, 36);
   --color-gren-1-private:rgb(16,186,127);
   --color-btn-primary:rgb(16,186,127);
   --color-btn-secondary:rgb(3,121,88);
   --color-btn-danger:rgb(56,65,82);
    --color-secondary-slate1:#bec6cf;
    --color-primary-public: #E23030;
    --color-text:rgb(199,213,222);
}

.light_mode{
    --color-primary-private: rgb(203 213 225);
    --color-secondary-private:#F0F5F9;
    --color-gren-1-private:#3498DB;
    --color-primary-public: #E23030;
    --color-text:#333333;
}