.container{
    display: grid;
    grid-template-areas: "sidebar navbar" "sidebar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;

}

.content{
    grid-area: content;
    background-color: var(--color-secondary-private);
    color: var(--color-text);
    height: 100%;
}

@media (max-width: 800px) {
    .container{
        grid-template-areas:"navbar" "sidebar"  "content";
        grid-template-columns: 1fr;
    }
.content{
    height: 100vh;
}

}