.container{
    display: grid;
    grid-template-areas: "sidebar navbar" "sidebar content";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

}

.content{
    grid-area: content;
    background-color: var(--color-secondary-private);
    color: var(--color-text);
}